{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Xin Chào,</p>
        <strong>
            Cảm ơn bạn đã đăng ký NextGRP!
        </strong>
        <p>
            <!-- Please confirm your email address by clicking the button below: -->
            Vui lòng xác nhận địa chỉ email của bạn bằng cách nhấn vào nút bên dưới:
        </p>
        {{ utils.button('Verify Account', link, true) }}
        {{ utils.separator() }}
        <p class="m-0">
            Xin cảm ơn,<br>
            Đội ngũ NextGRP
        </p>
    </div>
</td>

{% endblock %}
