{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p class="mb-4 font-bold">
			<!-- Insufficient Balance for upcoming Frappe Cloud payment -->
			Số dư không đủ cho khoản thanh toán NextGRP Cloud sắp tới
		</p>
		<p class="mb-6">
			<!-- Greetings from Frappe! We noticed that your Frappe Cloud account does not have sufficient credits to pay for the upcoming invoice.
			Please consider adding credits to your account or update the payment mode to Card and add a card with sufficient balance from {{ utils.link('Billing Settings', '/dashboard/billing') }} in your Frappe Cloud dashboard. -->
			NextGRP Cloud xin chào! Chúng tôi nhận thấy rằng tài khoản NextGRP Cloud của bạn không có đủ số dư để thanh toán hóa đơn sắp tới.  
			Vui lòng nạp thêm tiền vào tài khoản hoặc cập nhật phương thức thanh toán sang Thẻ và thêm một thẻ có đủ số dư tại {{ utils.link('Billing Settings', '/dashboard/billing') }} trong bảng điều khiển NextGRP Cloud của bạn.
		</p>
		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
