{% extends "templates/emails/base.html" %}

{% block content %}
  <td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white">
        Xin chào, 
        <br/>
      Vui lòng hoàn thành các <a href="{{ review_page_link }}">bước đánh giá</a> cho ứng dụng của bạn,
        <br/>
        <br/>
        <div class="from-markdown">
          {% if not logo %}
            * Thêm logo
            <br/>
          {% endif %}
          {% if not desc %}
            * Cập nhật mô tả cho ứng dụng của bạn
            <br/>
          {% endif %}
          {% if not links %}
            * Thêm các liên kết liên quan đến ứng dụng
            <br/>
          {% endif %}
          {% if not release %}
            * Phát hành một phiên bản từ tab phát hành
            <br/>
          {% endif %}
        </div>

        <br/>
        <p class="m-0">
            Xin cảm ơn,<br>
            Đội ngũ NextGRP Cloud
        </p>
    </div>
  </td>


{% endblock %}

