{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Xin Chào,</p>
        <p>
            <!-- Click on the following button to login to your Frappe Cloud dashboard. This link will expire in {{ minutes }} minutes. -->
            Nhấn vào nút dưới đây để đăng nhập vào trang quản lý NextGRP Cloud của bạn. Liên kết này sẽ hết hạn sau {{ minutes }} phút.
        </p>
        {{ utils.button('Đăng nhập', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}
