{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Xin chào Quản lý Đối tác,</p>
        <p>Người dùng {{ user }} đã gửi yêu cầu liên kết nhóm của họ với Đối tác {{ partner }}.</p>
        <p>
            Vui lòng xác nhận sự đồng ý của bạn bằng cách nhấn vào nút dưới đây.
        </p>
        {{ utils.button('Đồng ý', link, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}

