{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white">
		<p class="mb-4 font-bold">
			{{ subject }}
		</p>
		{%- if card_not_added -%}
		<p class="mb-6">
			Bạn không có đủ tín dụng để sử dụng các trang của mình trên NextGRP Cloud.
			Vui lòng chuyển thêm tín dụng hoặc thêm thẻ để thanh toán tự động. 
			Bạn cũng có thể thanh toán hóa đơn này thủ công bằng cách nhấn vào liên kết sau.
		</p>
		{{ utils.button('Thanh toán ngay', payment_link) }}
		{%- endif -%}

		{%- if team.default_payment_method -%}
		<p class="mb-6">
			Chúng tôi đã cố gắng trừ tiền từ thẻ của bạn có số đuôi là <strong>{{ last_4 }}</strong> cho đăng ký NextGRP Cloud nhưng không thành công. 
			Vui lòng cập nhật thông tin thẻ trong {{ utils.link('Billing Settings', account_update_link) }}
			hoặc thanh toán thủ công bằng cách nhấn vào liên kết sau.
		</p>
		{{ utils.button('Thanh toán ngay', payment_link) }}
		{%- endif -%}

		{%- if sites -%}
		{{ utils.separator() }}
		<p class="mt-0 mb-2">Các trang sau đã bị tạm ngưng:</p>
		<ul class="list-disc">
			{%- for site in sites -%}
			<li class="text-sm font-medium">{{ site }}</li>
			{%- endfor -%}
		</ul>
		{%- endif -%}

		{{ utils.separator() }}
		{{ utils.signature() }}
	</div>
</td>

{% endblock %}
