{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-4">
            Do số lượng lớn yêu cầu webhook thất bại trong giờ vừa qua, chúng tôi đã tạm ngưng một webhook bạn đã cấu hình.<br>
		</p>
		<p class="mt-2 mb-3">Webhook bị tạm ngưng: <strong>{{ endpoint }}</strong></p>
        <p>Vui lòng truy cập <a href="https://admin.nextgrp.vn/dashboard/settings/developer">Trang quản trị NextGRP Cloud</a> Để xem lại các lần gọi webhook và xác định sự cố, vui lòng truy cập trang tổng quan. Sau khi vấn đề được khắc phục, bạn có thể kích hoạt lại webhook trực tiếp từ trang quản trị. </p>
        {{ utils.separator() }}
		{{ utils.signature() }}
    </div>
</td>

{% endblock %}
