{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as utils %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>NextGRP Cloud thông báo,</p>
        <strong>
            Đã có đăng nhập vào tài khoản NextGRP Cloud của bạn từ trang: {{ site }}
        </strong>
        <p>
            Vui lòng xác nhận địa chỉ email của bạn bằng cách nhấn vào nút bên dưới:
        </p>
        {{ utils.button('Xác thực tài khoản', login_url, true) }}
        <p class="text-xs italic">
            Lưu ý: Liên kết này chỉ có thể được sử dụng một lần trước khi hết hạn. Nếu liên kết đã hết hạn, vui lòng tạo một liên kết mới.
        </p>
        {{ utils.separator() }}
        <p class="m-0">
            Xin cảm ơn,<br>
            Đội ngũ NextGRP
        </p>
    </div>
</td>

{% endblock %}
