{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}
{% set image_path = image_path %}
{% set read_pixel_path = read_pixel_path %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>Vui lòng nhấn vào nút bên dưới để đặt lại mật khẩu của bạn. Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email này.</p>
        {{ utils.button('Đặt lại mật khẩu', link, true) }}
        {{ utils.separator() }}
        <p class="my-0">Đội ngũ NextGRP Cloud</p>
    </div>
    {% if read_pixel_path %}
    <img src="{{ read_pixel_path }}">
    {% endif %}
</td>

{% endblock %}
