{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong>Mọi thứ gần như hoàn hảo!</strong></p>
        <p>Chỉ còn một bước nhanh nữa để bắt đầu sử dụng các sản phẩm của NextGRP!  
        Vui lòng xác nhận địa chỉ email của bạn để hoàn tất việc thiết lập tài khoản.</p>
        {{ utils.button('Xác thực tài khoản', link, true) }}
        {{ utils.separator() }}
        <p class="my-0">Đội ngũ NextGRP Cloud</p>
    </div>
    {% if read_pixel_path %}
    <img src="{{ read_pixel_path }}">
    {% endif %}
</td>

{% endblock %}
