{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/base.html" %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p class="mb-4 font-bold">
            {{ subject }}
        </p>
        <p class="mb-6">
            Rất tiếc, chúng tôi xin thông báo rằng trang của bạn được lưu trữ trên NextGRP Cloud đã tạm thời <strong>bị đình chỉ</strong> do chưa thanh toán hóa đơn.<br>
            <br>
            Để tiếp tục sử dụng trang trên NextGRP Cloud của bạn, vui lòng thanh toán các hóa đơn bằng cách truy cập <a href="https://admin.nextgrp.vn/dashboard/billing">Trang quản trị NextGRP Cloud.</a><br>
            <br>
            <strong>Sau khi thanh toán, trang của bạn sẽ được kích hoạt ngay lập tức.</strong><br>
            <br>
            Vui lòng hoàn tất các bước trên trước <strong>ngày 20 của tháng này</strong>, Nếu không, trang của bạn sẽ bị xóa, và nếu bạn đang sử dụng gói $10, bạn có thể mất toàn bộ dữ liệu vĩnh viễn.<br>
            <br>
            Chúng tôi rất tiếc khi thấy bạn ngừng sử dụng NextGRP Cloud và trân trọng phản hồi của bạn. Vui lòng điền vào <a href="https://admin.nextgrp.vn/frappe-cloud-feedback-form">form</a>.
            Nếu bạn có bất kỳ thắc mắc hoặc câu hỏi nào, vui lòng liên hệ với đội ngũ hỗ trợ của chúng tôi tại support.nextgrp.vn
        </p>

        {%- if sites -%}
		{{ utils.separator() }}
		<p class="mt-0 mb-2">Những trang sau đây sẽ bị đình chỉ</p>
		<ul class="list-disc">
			{%- for site in sites -%}
			<li class="text-sm font-medium">{{ site }}</li>
			{%- endfor -%}
		</ul>
		{%- endif -%}

        {{ utils.separator() }}
		{{ utils.signature() }}
    </div>
</td>

{% endblock %}
