{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as utils %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white">
        <p class="mb-4 font-bold">
            {{ type | capitalize }} Xác nhận chuyển đổi
        </p>
        <p class="mb-6">
            Nhóm {{ old_team }} đã yêu cầu chuyển {{ type }} <b>{{ name }}</b> sang nhóm của bạn {{ new_team }}.
            Vui lòng nhấp vào nút bên dưới để xác nhận đồng ý cho việc chuyển nhượng này.
            Xin lưu ý rằng khi bạn đồng ý, các thay đổi sau sẽ được áp dụng:
            <br>
            <br>
            1. {{ type }} <b>{{ name }}</b> thuộc nhóm {{ old_team }}, sẽ được chuyển sang nhóm của bạn.
            <br>
            {% if type == 'site' %}
            2. Bạn sẽ bị tính phí cho trang web này dưới tên nhóm {{ new_team }}
            <br>
            {% endif %}
            <br>
            Nếu bạn không biết về yêu cầu này, hãy bỏ qua email xác nhận.
            <br>
            <!-- Note: The temporary link will expire in {{ minutes }} minutes. -->
        </p>
        {{ utils.button('Đồng ý chuyển đổi', transfer_url, true) }}
        {{ utils.separator() }}
        {{ utils.signature() }}
    </div>
</td>

{% endblock %}