{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}
{% set image_path = image_path %}
{% set read_pixel_path = read_pixel_path %}
{% set otp = otp %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong>Mọi thứ gần như hoàn hảo!</strong></p>
        <p>Chỉ còn một bước nữa để bạn bắt đầu sử dụng NextGRP Cloud!</p>
        {% if otp %}
        <p class="font-medium">Mã xác thực</p>
        <div class="text-xl font-bold">{{ otp }}</div>
        <p>Hoặc nhấn vào nút bên dưới để xác minh tài khoản của bạn</p>
        {% else %}
        <p>Nhấn vào nút bên dưới để xác minh tài khoản của bạn</p>
        {% endif %}
        {{ utils.button('Xác thực tài khoản', link, true) }}
        {{ utils.separator() }}
        <p class="my-0">Đội ngũ NextGRP Cloud</p>
    </div>
    {% if read_pixel_path %}
    <img src="{{ read_pixel_path }}">
    {% endif %}
</td>

{% endblock %}
