{% import "templates/emails/macros.html" as utils %}
{% extends "templates/emails/saas.html" %}
{% set title = title %}
{% set image_path = image_path %}
{% set full_name = full_name %}
{% set otp = otp %}

{% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong>Xin chào {{ full_name }}</strong></p>
        <p>Bạn đã yêu cầu một mã xác thực để đăng nhập vào tài khoản NextGRP Cloud của mình. Mã này có hiệu lực trong vòng 10 phút.</p>
        <div class="text-xl font-bold">{{ otp }}</div>
		<p class="text-sm">Nếu bạn không yêu cầu mã này, vui lòng bỏ qua email này.</p>
        {{ utils.separator() }}
        <p class="my-0">Đội ngũ NextGRP Cloud/p>
    </div>
</td>

{% endblock %}
